<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ site.url }}">
      <h1 class="title is-4">UCAMC</h1>
    </a>

    <a role="button"
       class="navbar-burger burger"
       data-target="navMenu"
       aria-label="menu"
       aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
    </div>

    <div class="navbar-end">
      <a href="#" class="navbar-item">Suggest a lecturer</a>
      <a href="{{ site.listhost }}" class="navbar-item">Mailing list</a>
    </div>
  </div>
</nav>
